.loading-container {
  &__sun {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 400px;
    overflow: hidden;
    &--icon {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 100px;
      height: 100px;
      transform: translate(-50%, -50%);
      animation: suspension-sun 1s linear infinite;
      background: url('/static/images/sun-icon.png');
      background-repeat: no-repeat;
      background-size: 100px 100px;
    }
    @keyframes suspension-sun {
      100% {
        transform: translate(-50%, calc(-50% - 1px));
      }
      50% {
        transform: translate(-50%, calc(-50% + 2px));
      }
      0% {
        transform: translate(-50%, calc(-50% - 1px));
      }
    }
  }
}