.bg-rain-container {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  background-image: url('/static/images/background.jpg');
  background-size: cover;
  overflow: hidden;
  z-index: -1;
  &__rain {
    height: 100vh;
    background-image: url('/static/images/rain.png');
    animation: rain-bg-rain 0.3s linear infinite;
    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      background-image: url('/static/images/lightining.png');
      top: -100px;
      transform: rotate(180deg);
      animation: lightining-bg-rain 4s linear infinite;
      opacity: 1;
    }
  }
  @keyframes rain-bg-rain {
    0% {
      background-position: 0% 0%;
    }
    100% {
      background-position: 20% 100%;
    }
  }
  @keyframes lightining-bg-rain {
    0% {
      opacity: 0;
    }
    20% {
      opacity: 0;
    }
    21% {
      opacity: 1;
    }
    25% {
      opacity: 0;
    }
    30% {
      opacity: 0;
    }
    31% {
      opacity: 1;
    }
    35% {
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }
}