.bg-normal-container {
  position: fixed;
  left: 0;
  top: 0;
  min-width: 100vw;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background-image: url('/static/images/background-normal.jpeg');
  background-size: cover;
  overflow: hidden;
  z-index: -1;
}